.siteSectorlist{

}
.siteSectorlist .mui-input-group{
    background: #f0f0f0;
}
.siteSectorlist .mui-input-row{
    height: 43px;
}
.siteSectorlist .mui-input-row:after{
    background: none;
}

.eventCont ,.goodsCont{
    padding-top: 10px;
    width: 90%;
    margin: 0 auto;
}
.eventCont div ,.goodsCont div{
    width: 32.4%;
    height: 45px;
    line-height: 45px;
    padding: 0;
    margin-top:10px
}
.mui-scroll{
    height:100%
}
.bargraph{
    width: 100%;
    height: 100%;
}
.box{ margin:10px; display:none}