.siteSectorlist{

}
.siteSectorlist .mui-input-group{
    background: #f0f0f0;
}
.siteSectorlist .mui-input-row{
    height: 43px;
}
.siteSectorlist .mui-input-row:after{
    background: none;
}

.eventCont ,.goodsCont{
    padding-top: 10px;
    width: 90%;
    margin: 0 auto;
    display: none;
}
.eventCont div ,.goodsCont div{
    width: 32.4%;
    height: 45px;
    line-height: 45px;
    padding: 0;
    margin-top:10px
}

.bargraph{
    width: 400px;
    height: 500px;
    background: #000;
}
